.carousel-banner{
    background-image:url('/images/slider/biker.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 620px;
        
}
.carousel-banner2{
    background-image:url('/images/slider/Rectangle\ 4705.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 620px;
        
}
.bg-color{
    background: #00000095;
    height: 620px;
}

.banner-text{
    width: 600px;
    padding-top: 200px;
    padding-left: 100px;
}
.bike-collect p{
color: #e76f51;
}

.bike-collect-divider{
    border-bottom: 2px solid #e76f51;
    width: 80px;
    margin:  0 auto;
}

@media screen  and (max-width:560px){
    .navbar-collapse{
        background: #000000d9;
        padding: 20px;
    }
    .banner-text{
        width: 100%;
        padding-left: 30px;
    }
}